html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
}

html {
    max-width: 100vw;
    max-height: 100vh;
}

* {
    box-sizing: border-box;
}

/* Navbar */
nav {
    background-color: #000101;
    color: white;
    height: 6vh;
    width: 100%;
    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;

    border: 3px solid green;
}

/* Navbar Logo Menu */
.left-side {
    height: 100%;
    /* BG Color for debugging */
    /* background-color: #2a26ec; */
    flex: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    gap: 15px;
}

.logo {
    height: 100%;
    max-width: 30%;
    /* BG Color for debugging */
    /* background-color: #69689c; */
    flex: 32%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid red;
}

.menu {
    height: 100%;
    max-width: 5%;
    /* BG Color for debugging */
    /* background-color: #2a26ec; */
    text-align: center;
    flex: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-text {
    border: 3px solid red;
    padding: 3px;
}

/* Navbar Right Side */
.right-side {
    height: 100%;
    /* BG Color for debugging */
    /* background-color: dodgerblue; */
    padding: 6px;
    padding-right: 30px;
    flex: 50%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

/* Child of right side */
.right-side > *{
    height: 100%;
    max-width: 30%;
    /* BG Color for debugging */
    /* background-color: #283eff; */
    text-align: center;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid red;
}

@media (max-width: 800px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}



/* Hero */
.hero {
    background-color: rgb(15, 16, 48);
    height: 110vh;
    max-height: 110vh;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;

    border: 3px solid yellow;
}

.hero-title-container {
    /* BG Color for debugging */
    /* background-color: rgb(85, 45, 13); */
    height: 100%;
    width: 100%;
    flex: 50%;
    padding-bottom: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    max-height: 20%;
    max-width: 50%;
    background-color: #69689c;
    flex: 32%;
    text-align: center;
    padding: 2rem;

    color: white;
    font-size: 3.5rem;
    letter-spacing: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid red;
}

.hero-bottom-container {
    /* BG Color for debugging */
    /* background-color: rgb(9, 28, 56); */
    height: 100%;
    width: 100%;
    flex: 50%;
    padding-top: 7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.2rem;
}

/* Buy Now Text */
.buy-container {
    max-height: 20%;
    max-width: 50%;
    /* BG Color for debugging */
    /* background-color: #69689c; */
    text-align: center;
    padding: 1rem;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;

    border: 3px solid red;
}

.buy-now-text {
    font-size: 1.5rem;
    padding: 0.1rem;

    border: 3px solid orange;
}

.all-platforms-text {
    /* BG Color for debugging */
    /* background-color: green; */
    font-size: 1rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    padding: 0.1rem;

    border: 3px solid orange;
}

/* Platforms PS5 - Switch */

.platforms-container {
    max-height: 100%;
    max-width: 30%;
    /* BG Color for debugging */
    /* background-color: #1b7e79; */
    text-align: center;
    padding: 0.5rem;

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    gap: 0.5rem;
    border: 3px solid red;
}

.platforms-container>.ps4,
.platforms-container>.ps5,
.platforms-container>.steam,
.platforms-container>.xbox-one,
.platforms-container>.xs,
.platforms-container>.game-pass,
.platforms-container>.mac,
.platforms-container>.switch {
    background-color: #FE8500;
    text-align: center;
    padding: 0.5rem;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.2rem;
}

.platforms-container>.ps4>*,
.platforms-container>.ps5>*,
.platforms-container>.steam>*,
.platforms-container>.xbox-one>*,
.platforms-container>.xs>*,
.platforms-container>.game-pass>*,
.platforms-container>.mac>*,
.platforms-container>.switch>* {
    font-size: 1.1rem;
    border: 3px solid red;
}

.purchase-options-text {
    font-size: 0.85rem;
    margin: 0;
    padding: 0.1rem;
    color: white;
    border: 3px solid red;

    display:flex;
    align-items: start;
    justify-items: start;
}


/* Features */
.features-container {
    background-color: #08202D;
    height: 30vh;
    width: 100%;
    margin: 0;
    padding: 3rem 9rem 5rem;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 3rem;

    border: 3px solid #FE8500;
}

.features-container>.features-infinite,
.features-container>.features-story,
.features-container>.features-multiplayer,
.features-container>.features-subtitle,
.features-container>.features-vr,
.features-container>.features-beyond {
    background-color: #503921;
    min-height: 100%;
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem;
    flex: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    gap: 1rem;

    border: 3px solid red;
}

.features-title {
    font-size: 1.8rem;

    border: 3px solid orange;
}

.features-subtitle {
    font-size: 1rem;

    border: 3px solid orange;
}

/* Feature One - Explore an infinite universe */

.feature-highlight-one {
    background-color: #282620;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 5rem 8rem 7rem;

    color: white;
    
    display: flex;
    align-items: center;
    justify-content: end;
    align-items: end;
    gap: 2rem;

    border: 3px solid #FE8500;
}

.feature-highlight-two {
    background-color: #5C240C;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 5rem 6rem 7rem;

    color: white;

    display: flex;
    align-items: center;
    justify-content: start;
    align-items: end;
    gap: 2rem;

    border: 3px solid #FE8500;
}

.feature-highlight-three {
    background-color: rgb(108, 255, 235);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.feature-highlight-four {
    background-color: rgb(255, 111, 111);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Single Features Title, Subtitle, and Description */

.single-feature-container {
    /* BG Color for debugging */
    /* background-color: #08202D; */
    height: fit-content;
    width: 30%;
    margin: 0;
    padding: 1rem 1.9rem 1rem 1.7rem;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    align-items: start;
    gap: 1.5rem;

    border: 3px solid red;
}

.single-feature-title {
    font-size: 3rem;

    border: 3px solid orange;
}

.single-feature-subtitle {
    font-size: 1.5rem;

    border: 3px solid orange;
}

.single-feature-description {
    font-size: 1rem;
    line-height: 1.4rem;

    border: 3px solid orange;
}

.updates {
    background-color: rgb(255, 156, 75);
    height: 57vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    height: 6vh;
    width: 100%;
    bottom: 0px;
}