html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
}

html {
    max-width: 100vw;
    max-height: 100vh;
}

* {
    box-sizing: border-box;
}

/* Navbar */
nav {
    background-color: #333;
    color: white;
    height: 6vh;
    width: 100%;
    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

/* Navbar Logo Menu */
.left-side {
    height: 100%;
    /* BG Color for debugging */
    /* background-color: #2a26ec; */
    flex: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    gap: 15px;
}

.logo {
    height: 100%;
    max-width: 30%;
    background-color: #69689c;
    flex: 32%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid red;
}

.menu {
    height: 100%;
    max-width: 5%;
    /* BG Color for debugging */
    /* background-color: #2a26ec; */
    text-align: center;
    flex: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-text {
    border: 3px solid red;
    padding: 3px;
}

/* Navbar Right Side */
.right-side {
    height: 100%;
    /* BG Color for debugging */
    /* background-color: dodgerblue; */
    padding: 6px;
    padding-right: 30px;
    flex: 50%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

/* Child of right side */
.right-side > *{
    height: 100%;
    max-width: 30%;
    background-color: #283eff;
    text-align: center;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid red;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 800px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}



/* Hero */
.hero {
    background-color: rgb(241, 146, 146);
    height: 94vh;
    max-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.features {
    background-color: rgb(74, 125, 236);
    height: 30vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.feature-highlight-one {
    background-color: rgb(74, 236, 125);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.feature-highlight-two {
    background-color: rgb(238, 255, 86);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.feature-highlight-three {
    background-color: rgb(108, 255, 235);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.feature-highlight-four {
    background-color: rgb(255, 111, 111);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.updates {
    background-color: rgb(255, 156, 75);
    height: 57vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    height: 6vh;
    width: 100%;
    bottom: 0px;
}